body {
  background-color: #5D696A;
  margin:0;
  color:#11196B;
  font-family: "Quicksand", sans-serif;
}
  
html {
  margin: 0;
  height: 100%;
}

.container
{
  padding-top: 3vh;
}

.datecontainer
{
  margin: 0 auto;
  left: 0;
  right: 0;
  max-width: 80%;
  margin-top: 3%;
  background-color: #2f3c9e;
  border:none;
  border-radius: 20px;
  padding-top: 3vh;
  padding-bottom: 3vh;
  margin-top: 3vh;
  color: white;
}