<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" href="../static/stylesheets/index.css">
  <script src="../public/JavaScript/imagechanges.js">console.log(model)</script>

  <title>Img Repository</title>
</head>
<body>
  <div class="landing-page">
    
      <h1>Img Repository</h1>
      <input value="Add an Image to the Repository" type="button" onclick=""/>
      <div class="imgrepo">
      
      <table>
        <tr>
          <td><div class="imgbox" id="img1">
            <b class="ititle">Title</b>
            <img src="" alt="test"/>
            <input type="button" onclick="deleteimg(1)" value="Delete"/>
            </td>
          <td><div class="imgbox" id="img2"></div></td>
          <td><div class="imgbox" id="img3"></div></td>
        </tr>
        <tr>
          <td><div class="imgbox" id="img1"></div></td>
          <td><div class="imgbox" id="img2"></div></td>
          <td><div class="imgbox" id="img3"></div></td>
        </tr>
        <tr>
          <td><div class="imgbox" id="img1"></div></td>
          <td><div class="imgbox" id="img2"></div></td>
          <td><div class="imgbox" id="img3"></div></td>
        </tr>
        <tr>
          <td><div class="imgbox" id="img1"></div></td>
          <td><div class="imgbox" id="img2"></div></td>
          <td><div class="imgbox" id="img3"></div></td>
        </tr>
      </div>

      </div>
  </div>
</body>
</html>